<a href="https://colab.research.google.com/github/practice404/machine-learning/blob/master/MLZoomcampHW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [54]:
df.groupby('Make').agg({'MSRP': pd.Series.mean}).loc['BMW']

MSRP    61546.763473
Name: BMW, dtype: float64

In [55]:
pd.__version__

'1.1.5'

In [56]:
df[df['Year'] >= 2015]['Engine HP'].isna().values.sum()

51

In [57]:
df['Engine HP'].mean()

249.38607007176023

In [58]:
filled_na = df['Engine HP'].fillna(df['Engine HP'].mean())

In [59]:
filled_na.mean()

249.38607007176

In [60]:
rolls_royce = df[df['Make'] == 'Rolls-Royce'][['Engine HP','Engine Cylinders','highway MPG']]
rolls_royce.head()

      Engine HP  Engine Cylinders  highway MPG
2921      325.0               8.0           15
3505      563.0              12.0           19
5275      563.0              12.0           21
5276      563.0              12.0           21
5277      563.0              12.0           21

In [68]:
X = rolls_royce.drop_duplicates().values
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [73]:
inv_matmul = np.linalg.inv(X.T @ X)
inv_matmul.sum()

0.032212320677486125

## NOTE: For 2D numpy arrays `.dot` performs the matrix-multiplication, just like `@` operator

In [74]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]

In [75]:
w = ((inv_matmul @ X.T) @ y)
w

array([ 0.19989598, 31.02612262, 31.65378877])